:root {
  --clr_primary: rgb(29,45,70);
  --clr_button: rgba(13, 245, 227);
  --clr_button_secondary: rgb(208, 190, 212);
  --clr_secondary: rgba(55, 49, 66);
  --clr_text_light: #d0bed4;
  --clr_text_dark: rgb(121, 117, 117);
  --clr_text_dark_alpha: rgb(121, 117, 117, 0.9);
  --clr_danger: rgb(168, 6, 6);
}
/* latin-ext */
font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  /* color: #211b32; */
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--clr_primary);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* flex */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.f-space-b {
  justify-content: space-between;
  align-items: center;
}

.f-space-a {
  justify-content: space-around;
  align-items: center;
}

.f-start {
  justify-content: flex-start;
  align-items: center;
}

.gap {
  gap: 1rem;
}

.gap-s {
  gap: .5rem;
}

.gap-l {
  gap: 1.5rem;
}

.gap-xl {
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

/* margins-paddings */
.margin-top-bottom {
  margin: 1rem 0 1rem 0;
}
.margin-top-large{
  margin: 1rem;
}

.margin-large {
  margin: 1rem
}

.margin-small {
  margin: .5rem;
}

.padding-small {
  padding: .5rem;
}

.padding-normal {
  padding: 1rem;
}

.padding-large  {
  padding: 1.5rem;
}
.padding-top{
  padding-top: 1rem;
}
.padding-bottom{
  padding-bottom: 1rem;
}
.padding-bottom-large{
  padding-bottom: 2rem;
}

.padding-top-bottom {
  padding: 1rem 0 1rem 0;
}

.padding-l-top-bottom {
  padding: 1.5rem 0 1.5rem 0;
}

.width-l {
  width: 100%;
}

.height-l {
  height: 100%;
}

/* animations*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

/* Loading */
.loading-wrapper {
  height: 100vh;
}

.loading-wrapper_text {
  color: var(--clr_text_light);
  font-weight: 700;
  letter-spacing: .3rem;
  font-size: 2rem;
  padding:4rem 0 0 4rem;
}

.loading-wrapper_text>span {
  border: none;
  letter-spacing: .8rem;
  padding: 0 .8rem 0 .8rem;
}

/* Error */
.errorBoundary{
  font-size: 2rem;
  font-weight: 900;
  margin: auto;
  color: var(--clr_text_light);
}

/* wrapper for whole page */
.appWrapper {
  text-align: center;
  background-color: var(--clr_primary);
  min-height: 100vh;
}

/* 404 page */
.npageNotFound_wrapper {
  background-color: var(--clr_primary);
  height: 100vh;
}

.pageNotFound {
  color: var(--clr_text_light);
  padding-bottom: 2rem;
}

.pageNotFound_number {
  font-size: 6rem;
  font-weight: 900;
  border: none;
}

.pageNotFound_link {
  text-decoration: none;
  color: var(--clr_button_secondary);
}

/* Header */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav {
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0, auto;
}

.btn {
  height: 1.5rem;
  width: 3.5rem;
  font-size: .5rem;
  padding: .2rem .2rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  color: #211b32;
}

/* Main Page Section */

.homePage-wrapper {
  min-height: 100vh;
}

.heroConteiner {
  min-width: 90%;
  color: var(--clr_text_light);
  letter-spacing: .2rem;
  line-height: 2.5rem;
}

.heroConteiner h1 {
  font-size: 28px;
  padding: 1.5rem 0;
}

.heroConteiner h2 {
  padding: 1.5rem 2rem;
  font-size: 22px;
}

/* Sign up log in form reset password */
.signUp,
.resetPassword {
  background-color: inherit;
  padding: 2rem 0;
  max-height: 100vh;
  min-width: 100vw;
}
.loginHeader{
  color: var(--clr_text_light);
}

.resetPassword>.form_wrapper {
  padding: 1rem 1rem;
}
.resetPassword-link span{
  color: var(--clr_text_light);
}

.form_wrapper {
  background-color: inherit;
  padding: 0.5rem 1rem;
  max-width: 450px;
  min-width: 300px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrapper>form {
  gap: 1.5rem;
  min-width: 300px;
  position: relative;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  z-index: 100;
  color: var(--clr_text_light);
}

input {
  width: 80%;
  color:var(--clr_text_light);
  height: 2.5rem;
  border: none;
  border-bottom: solid 1px var(--clr_text_light);
  background-color: transparent;
  padding: 1rem;
}

input::placeholder {
  color: var(--clr_button);
}

input:focus {
  background-color:var(--clr_primary);
  border: none;
}

.register {
  width: 80%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--clr_button);
  cursor: pointer;
}

p {
  font-size: .6rem;
}

.buttonGoogle {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-size: .6rem;
  margin-bottom: .5rem;
}

.divGoogleButton svg {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}
.divGoogleButton p {
  cursor: pointer;
  color: var(--clr_text_light);
}
.divGoogleButton p a{
  color: var(--clr_text_light);
}
.form-line{
  position: relative;
}
.form-line::before{
  content: '';
  position: absolute;
  top: 0.4rem;
  left: -4.1rem;
  display: block;
  background-color: var(--clr_text_light);
  width: 4rem;
  height: 1px;
}
.form-line::after{
  content: '';
  position: absolute;
  top: 0.4rem;
  left: 0.7rem;
  display: block;
  background-color: var(--clr_text_light);
  width: 4rem;
  height: 1px;
}

/* user page */
.conteiner {
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--clr_primary);
  padding: 2rem 2rem;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

.userPage-flex_gap {
  gap: 1.2rem;
}

.avatar {
  background-color: var(--clr_text_light);
  font-weight: 900;
  font-size: 1rem;
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 50%;
}

.mainContent {
  max-width: 100%;
  max-height: 100%;
  gap: 5rem;
  margin-top: 3rem;
}

.userPageName {
  border: none;
  color: var(--clr_button_secondary);
}

.imgWrapper {
  width: 95%;
  height: 150px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: -10px 0px 13px -7px var(--clr_secondary), 10px 0px 13px -7px var(--clr_secondary), 5px 5px 15px 5px rgba(246, 238, 238, 0);
}

.imgGym {
  background: rgba(247, 240, 240, 0.4) url(../public/img-svg/img/gym.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  mix-blend-mode: lighten;
  text-align: center;
   margin: auto;
}

.imgNutri {
  background: rgba(247, 240, 240, 0.4) url(../public/img-svg/img/nutrition.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
  mix-blend-mode: lighten;
  margin: auto;
}

.userPage_imgText {
  font-size: 1.7rem;
  color: var(--clr_primary);
  font-weight: bold;
}

/* bottom menu */
.bottomMenu_wrapper {
  display: flex;
  font-size: 10px;
  line-height: 1;
  margin: 0;
  font-weight: 400;
  position: fixed;
  bottom: 0;
  background: var(--clr_secondary);
  color: #fff;
  height: 54px;
  width: 100%;
  padding: 5px;
  border-top: solid 0.5px rgba(255, 255, 255, .2);
  z-index: 100;
  align-items: center;
  text-align: center;
}

.bottomMenu {
  border: none;
  cursor: pointer;
}

.bottomMenu > svg {
  height:24px;
  width: 24px;
  fill: var(--clr_button_secondary);
  margin: 10px;
}

.bottomMenu_small svg {
  height: 1.5rem;
  width: 1.5rem;
  stroke: var(--clr_primary);
}

.bottomMenu_middle-button svg {
  height: 40px;
  width: 40px;
}

/* gym page */
.gymPage-section {
  color: var(--clr_text_light);
  padding: 1rem;
  gap: 1rem;
  height: 100vh;
}
.gymPage-btn{
  width: 3rem;
  height: 1.5rem;
  font-size: .5rem;
  padding: .3rem .2rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.gymPage_heading {
  letter-spacing: .6rem;
}

.gymPage_add {
  gap: 1rem;
  padding: .3rem 1rem .3rem 1rem;
  border: 1px solid var(--clr_text_light);
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
}

.gymPage_add span {
  border: none;
}

.gymPage_add svg {
  fill: var(--clr_text_light);
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.gymPage_workout {
  width: 13rem;
  height: 2rem;
  border: 1px solid var(--clr_text_light);
  border-radius: 10px;
}

.gymPageCardShadow {
  box-shadow: -10px 0px 13px -7px var(--clr_secondary), 10px 0px 13px -7px var(--clr_secondary), 5px 5px 15px 5px rgba(246, 238, 238, 0);
  /* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); box-shadow: 0px 10px 13px -7px var(--clr_secondary), 5px 5px 15px 5px rgba(0,0,0,0); */
}

.gymPage_form {
  box-shadow: -10px 0px 13px -7px var(--clr_secondary), 10px 0px 13px -7px var(--clr_secondary), 5px 5px 15px 5px rgba(246, 238, 238, 0);
  border-radius: 5px;
  border: 1px var(--clr_primary);
  background: var(--clr_primary);
  color: var(--clr_text_light);
}

.trash {
  width: 1rem;
  height: inherit;
  cursor: pointer;
  z-index: 100;
  /* cursor: pointer; */
  color: var(--clr_danger);
  border-bottom: none;
}

/* workoutPage workoutForm displayWorkout displayWorkoutDetails*/

.workoutPage-wrapper {
  height: 95vh;
}

.workoutPage-header {
  padding: .5rem;
}
.workoutForm-section{
  min-width: 100%;
}
.workoutForm{
  width: 100%;
}

.workoutForm-Input {
  height: 1.2rem;
  width: 80%;
  padding: .9rem;
  outline: var(--clr_text_light);
  border: .5px solid var(--clr_text_light);
  color: var(--clr_text_light);
  margin: 0 auto;
  text-align: center;
}

.workoutForm-Input:focus {
  /* background-color: var(--clr_text_dark_alpha); */
  color: var(--clr_text_light);
  border-bottom: .5px solid var(--clr_text_light);
}

.workoutForm-label {
  margin-top: 1rem;
  color: var(--clr_text_light);
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .2rem;
}

.workoutForm-header {
  color: var(--clr_text_light);
  letter-spacing: .1rem;
}

.setButton {
  height: 1rem;
  width: 1rem;
  border: none;
  border-radius: 100%;
  padding: 3px;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}

.btn-trash  {
  margin-top: 1.5rem;
  cursor: pointer;
  fill: red;
  height: 2rem;
  width: 2rem;
}
.workoutPage-body-header{
  color: var(--clr_text_light);
  letter-spacing: .4rem;
  font-size: 1.6rem;
  text-decoration: underline;
}
.workoutPage-body-link{
  color: var(--clr_text_light);
  text-transform: capitalize;
}
.workoutPage-body-link:first-child{
  padding-top: 1rem ;
}
.displayWorkoutDetail-header{
  color: var(--clr_text_light);
}
