:root {
  --clr_primary: rgba(32, 26, 48);
  --clr_button: rgba(13, 245, 227);
  --clr_button_secendary:rgb(144, 238, 144);
  --clr_secendary: rgba(55, 49, 66);
  --clr_text_ligt: rgb(246, 238, 238);
  --clr_text_dark: rgb(121, 117, 117);
  --clr_text_dark_alpha: rgb(121, 117, 117, 0.9);
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--clr_primary);
  min-height: 100vh;
}
.flex{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.center{
  justify-content: center;
  align-items: center;
}

/* loggo spin */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
/* wrapper for whole page */
.appWrapper {
  text-align: center;
  background-color: var(--clr_primary);
  min-height: 100vh;
}
/* 404 page */
.npageNotFound_wrapper{
  background-color: var(--clr_primary);
  height: 100vh;
}
.pageNotFound{
  color: var(--clr_text_ligt);
  padding-bottom: 2rem;
}
.pageNotFound_number{
  font-size: 6rem;
  font-weight: 900;
  border: none;
}
.pageNotFound_link{
  text-decoration: none;
  color: var(--clr_button_secendary);
}
/* Header */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav{
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.btn{
  height: 2rem;
  width: 5rem;
  font-size: .6rem;
  padding: .3rem 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor:pointer;
  text-transform: uppercase;
}

/* Main Page Section */

.heroConteiner{
    min-width:90%;
    color:var(--clr_text_ligt);
    letter-spacing:.2rem;
    line-height:2.5rem;
}
.heroConteiner h1{
  font-size:28px;
   padding:1.5rem 0;
}
.heroConteiner h2{
  padding:1.5rem 2rem;
  font-size:22px;
}

/* Sign up log in form reset password */
.signUp,.resetPassword{
  background-color:var(--clr_primary);
  padding: 2rem 0;
  max-height:100vh;
  min-width:100vw;
}
.resetPassword>.form_wrapper{
  padding: 1rem 1rem;
}
form,.form_wrapper{
  background-color: var(--clr_text_ligt);
  position:relative;
  border-radius: 5px;
  padding:.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width:400px;
  min-width: 300px;
}
.form_wrapper{
  padding:0 0 1rem 0;
  gap: 1rem;
}
.form_wrapper>form{
  gap: 1.5rem;
}
.close {
  position:absolute;
  right:1rem;
  top:1rem;
  cursor:pointer;
  z-index: 100;
}
input{
  width:80%;
  color:black;
  height:2.5rem;
  border-radius:5px;
  border:solid 1px black;
  background-color:transparent;
  padding:1rem;
}
input::placeholder{
  color:black;
}
input:focus{
  background-color:lightgrey;
}
.register{
  width:80%;
  height:2.5rem;
  border-radius:5px;
  border:none;
  background-color:var(--clr_button);
  cursor:pointer;
}
p{
  font-size:.6rem;
}
span{
  border-bottom:1px solid black;
  cursor:pointer;
}
.buttonGoogle{
  background-color:transparent;
  border:none;
  border-bottom:1px solid black;
  cursor:pointer;
  display: flex;
  gap:1rem;
  font-size:.6rem;
  margin-bottom: .5rem;
}
.svg{
  width:1.5rem;
  height:1.5rem;
  padding:0 5px 5px 0;
}

/* user page */
.conteiner{
  justify-content:flex-start;
  gap:1rem;
  background-color:var(--clr_primary);
  padding:2rem 2rem;
  max-width:100vw;
  min-height:100vh;
  max-height:100vh;
}
.headerWrapper{
  justify-content:space-between;
  align-items: center;
}
.userPage-flex_gap{
  gap:1.2rem;
}
.avatar{
  background-color: var(--clr_text_ligt);
  font-weight: 900;
  font-size: 1.1rem;
  height: 2.1rem;
  width: 2.1rem;
  border-radius:50%;
}
.mainContent{
  max-width:100%;
  max-height:100%;
  gap:5rem;
}
.userPageName{
  border:none;
  color:var(--clr_button_secendary) ;
}
.imgWrapper{
  min-width:90%;
  height:150px;
  cursor:pointer;
  border-radius:5px;
}
.imgGym{
  background:rgba(247, 240, 240,0.4) url(../public/img-svg/img/gym.jpg);
  background-position:center;
  background-size: cover;
  background-blend-mode: lighten;
  mix-blend-mode: lighten;
  text-align: center;
}
.imgNutri{
  background:rgba(247, 240, 240,0.4) url(../public/img-svg/img/nutrition.jpg);
  background-position:center;
  background-size: cover;
  background-blend-mode: lighten;
  mix-blend-mode: lighten;
  margin:auto;
}
.imgWrapper>p{
  font-size:1.5rem;
  color:var(--clr_primary);
  font-weight:bold;
}